    <div class="footer-of-sorts">
            <!--<div class="footer-logo">
                <img src="../img/logo.png">
                <p> CACTACEAE </p>
            </div>-->
            <div id="contact" class="main-theme contact">
                <div class="contact-heading">
                    CONTACT INFORMATION
                </div>
                <div class="contact-sect">
                    <div class="contact-person">
                        <div class="contact-person contact-person-name">
                            CACTACEAE FAMILY
                        </div>
                        <div class="contact-person contact-person-title">
                            Main Person Contact
                        </div>
                    </div>
                    <div class="contact-address">
                        <div class="contact-address-street">
                            123 Fake Street
                        </div>
                        <div class="contact-address-city">
                            Southern California, US
                        </div>
                        <div class="contact-person contact-person-phone">
                            123-456-7890
                        </div>
                        <div class="contact-person email">
                            cactaceae at fakemail dot com
                        </div>
                    </div>
                </div>
                <div class="social-media">
                    <img src="img/facebook.svg"/>
                    <img src="img/instagram.svg"/>
                    <img src="img/pinterest.svg"/>
                </div>
            </div>
            <!--<div class="footer-logo">
                <img src="../img/logo.png">
                <p> CACTACEAE </p>
            </div>-->
        </div>
    </body>
</html>
