    <nav class="navbar sticky-top navbar-light navbar-expand-md navbar-expand-sm justify-content-between ml-auto">
      {{ partial "menu-title.html" . }}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCacti" data-toggle="dropdown" aria-haspopup="false" arai-expanded="true" >
                      Cacti</a>
                        <span class="sr-only">(current)</span>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCacti">
                          <a class="dropdown-item" href="#opuntia">Opuntia</a>
                          <a class="dropdown-item" href="#cylindropuntia">Cylindropuntia fulgida</a>
                          <a class="dropdown-item" href="#cephalocereus">Cephalocereus senilis</a>
                          <a class="dropdown-item" href="epiphyllum">Epiphyllum oxypetalum</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSucculents"  data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">Succulents</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSucculents">
                        <a class="dropdown-item" href="#agave">Agave</a>
                        <a class="dropdown-item" href="#crassula">Crassula</a>
                        <a class="dropdown-item" href="#dudleya">Dudleya</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#supplies">Supplies</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
 
