<div class="section-one">
  <div class="section-display-info-one">
    <div class="section-title">
     CACTI
    </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia maximus lacus, id tempus mauris. Vivamus ut massa nec risus ullamcorper porttitor. Integer sed tincidunt est, in dignissim justo. Phasellus scelerisque laoreet maximus. Ut facilisis accumsan dolor sed ultricies. Praesent a tortor vel orci mattis hendrerit eu sit amet diam. Quisque pulvinar placerat odio, in fringilla leo suscipit fermentum. Etiam pellentesque laoreet euismod. Integer lorem ligula, lobortis in consequat id, interdum id magna. Vestibulum sit amet bibendum nunc.
  </div>

  <div class="section-display">
    <img src="../source-img/cacti-crop.png" class="rounded float-left">
    <img src="../source-img/succ-crop.png" class="rounded float-none">
    <img src="../source-img/tools-crop.png" class="rounded float-right">
  </div>
</div>
<div class="section-two">
  <div class="section-display-info-two">
    <div class="section-title">
      SUCCULENTS
    </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia maximus lacus, id tempus mauris. Vivamus ut massa nec risus ullamcorper porttitor. Integer sed tincidunt est, in dignissim justo. Phasellus scelerisque laoreet maximus. Ut facilisis accumsan dolor sed ultricies. Praesent a tortor vel orci mattis hendrerit eu sit amet diam. Quisque pulvinar placerat odio, in fringilla leo suscipit fermentum. Etiam pellentesque laoreet euismod. Integer lorem ligula, lobortis in consequat id, interdum id magna. Vestibulum sit amet bibendum nunc.
  </div> 
  <div class="section-display">
    <img src="../source-img/succ-crassula.png" class="rounded float-left">
    <img src="../source-img/succ-crop.png" class="rounded float-none">
    <img src="../source-img/succ-dud.png" class="rounded float-right">
  </div>

</div>
