@font-face {
    font-family: "MinervaModern-Regular";
    src: url("../fonts/Minerva-ModernRegular.ttf") format('truetype');
}

.site {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    color: #464e59;
}

.home {
    font-family: 'MinervaModern-Regular';
    margin-bottom: 10%;
}

.front-page {
    width: 100%;
    padding: 0;
    margin: 0;
}

.site-description {
    margin-right: 50%;
    margin-top: 15%;
    margin-bottom: 8%;
}

video {
    /*padding-bottom: 2em;*/
    /*padding-top: 2em;*/
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    width: 100%;
    height: 100%;
}

.main-desc {
    /*position: absolute;*/
    /* left: 50%; */
    /*transform: translate(-50%, -50%);*/
    color: #464e59;
    /*font-size: 18px;*/
    /*opacity: 1;*/
    /*margin-right: 50%;*/
    /* margin-left: 15%; */
}

p {
    margin-bottom: 10px;
}

.main-theme {
/*.etalon {*/
    background-color: white;
    padding:0;
    margin:0;
    font-family: 'MinervaModern-Regular';
    color: #464e59;
}

.floaty-side {
    /*padding-top: 2.5em;*/
    display: flex;
}

.floaty-side-nina {
    display: flex;
}

.inside-float {
    padding:0;
}

.highlight-name {
    color:#57c26e;
}

/* heading/ title */
.etalon-title {
    /*font-size: 9vw;*/
    /*margin-left: 25%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.3em;
    margin-right:0;
    padding-top: 0.3em;
    /*padding-left: 2%;*/
    /*padding-bottom: 0;
    margin:0;
    padding-bottom:0;*/*/
}

.etalon-title h1 {
    /*max-width: 100%;
    padding-top:0;
    margin-top: 0.1em;
    margin-left: 0em;
    margin-bottom: 0;*/
}

.cheval-profile {
    margin-top: 5%;
    position: relative;
    overflow: hidden;
}

.cheval-profile img {
    height: 100%;
    width: 100%;
}

.content-title {
    padding: 0;
    margin:0;
}

.content-title h1 {
    /*margin-top: 0;
    margin-bottom:0;*/
    /*margin-left:2%;*/
    /*padding-top: 1%;*/
    /*padding-bottom:0;
    padding-left:0;
    padding-right:0;*/
}

.cheval-indv-title {
    margin-top: 0;
/*    margin-bottom: 0.5em;*/
    font-size: 32px;
    color:#57c26e;
    margin-left: 0%;
    white-space: nowrap;
    padding-right: 5em;
}

.cheval-desc {
    /*font-size: `;*/
    margin-left: 0%;
    margin-top: 0;
    margin-bottom: 1.5em;
    margin-right: 0%;
    justify-content: space-between;
}

.cheval-spec-desc {
    margin-bottom: 7%;
    margin-top: 1%;
    font-size: 20px;
    display:inline-grid;
}

.etalon-img {
    /*display: inline;*/
    /*margin-left: 15%;*/
    overflow:hidden;
    position:relative;
}

.siddarta-info-group {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.cheval-info {
    margin: 0;
    white-space: nowrap;
}

.juments-info {
    display: flex;
}

/* carouseld slideshow stuff */
#rad1-sidd:checked ~ .siddarta-img {
    -webkit-transform: translateX(0);
}

#rad1-nina:checked ~ .nina-img {
    -webkit-transform: translateX(0);
}

#rad1-attique:checked ~ .attique-img {
    -webkit-transform: translateX(0);
}

#rad1-aygush:checked ~ .aygush-img {
    -webkit-transform: translateX(0);
}

#rad1-ithaqeu:checked ~ .ithaque-img {
    -webkit-transform: translateX(0);
}

#rad1-jugurtha:checked ~ .jugurtha-img {
    -webkit-transform: translateX(0);
}

#rad2-sidd:checked ~ .siddarta-img {
    -webkit-transform: translateX(-100%);
}

#rad2-nina:checked ~ .nina-img {
    -webkit-transform: translateX(-100%);
}

#rad2-attique:checked ~ .attique-img {
    -webkit-transform: translateX(-100%);
}

#rad2-aygush:checked ~ .aygush-img {
    -webkit-transform: translateX(-100%);
}

#rad2-ithaque:checked ~ .ithaque-img {
    -webkit-transform: translateX(-100%);
}

#rad2-jugurtha:checked ~ .jugurtha-img {
    -webkit-transform: translateX(-100%);
}

#rad3-sidd:checked ~ .siddarta-img {
    -webkit-transform: translateX(-200%);
}

#rad3-nina:checked ~ .nina-img {
    -webkit-transform: translateX(-200%);
}

#rad3-attique:checked ~ .attique-img {
    -webkit-transform: translateX(-200%);
}

#rad3-aygush:checked ~ .aygush-img {
    -webkit-transform: translateX(-200%);
}

#rad4-nina:checked ~ .nina-img {
    -webkit-transform: translateX(-300%);
}

.cheval-img {
    display: flex;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
}

label {
    cursor: pointer;
}

.img-navigation {
    display: flex;
    position: absolute;
    top: 95%;
    left: 48%;
}

.dot {
    opacity: .7;
    float: left;
    width: 10px;
    height: 10px;
    background: white;
    margin: 3.5px;
    border-radius: 70%;
    -webkit-transition: opacity .3s;
}

input {
    display: none;
}

.dot:hover {
    opacity: 1;
}

.en-vente {
    display: -webkit-box;
    color: red;
}

.section-display {
    margin-top: 8%;
}

.section-display img {
  width: 32.9%;
  margin-right: 5px;
}

.section-display:first-child {
  margin-left: 6px;
}

.section-display-info-one {
  margin-left: 50%;
}

.section-display-info-two {
  margin-right: 50%;
}
.section-title {
  margin-bottom: 2%;
  font-size: 20px;
}

.section-one {
  margin-bottom: 8%;
}
.footer-of-sorts {
    margin-right: -5.5%; 
    margin-left: -5.5%;
    /*margin: 5;padding-right: 0;padding-left: 0;*/
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 6%;
    font-size: 15px;
    /*display: flex;*/
    position: relative;
    
    background-color: #EEEEEE;
    color: #464e59;
    font-family: 'MinervaModern-Regular';
    /*text-align: center;*/

    white-space: nowrap;
    display: flex;
    align-items: center;
}

.footer-logo {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 100px;
}

.contact {
    background-color: #EEEEEE;
}

/*.contact-sect {
    display: flex;
}*/

.contact-heading {*/
    font-size: 20px;
    padding-bottom: 5%;
}

.contact-address-title {*/
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact-address-street {
    color: #57c26e;
}

.contact-address-city {
    color: #57c26e;
    padding-bottom: 5%;
}

.contact-sect {
    /*padding-right: 15%;*/
}

.contact-address {
    margin-right: 5%;
}

.contact-person {
    padding-top: 2%;
    /*padding-right: 15%;
    vertical-align: baseline;*/
    /*margin-left: 1%;*/
}

.contact-person-title {
    /*color :#57c26e;*/
    padding-bottom: 5%;
    /*padding-top: 0.5em;
    padding-bottom: 1em;*/
}

.social-media {
    margin-top: 5%;
}

.social-media img {
    padding-top: 3%;
    padding-right: 1%;
    width: 20px;
}

.contact-person-phone {
    padding-top: 1%;
    /*padding-bottom: 1%;*/
}

.contact-person-name {
    color :#57c26e;
    font-size: 13px;
    padding-top: 1%;
}

br {
    width: 60%;
    height:0;
}

.name {
    padding-top: 2%;
}

.navbar {
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    /* box-shadow: 2px 2px 2px 2px #EEEEEE; */
}

.sticky-top {
    /* text-decoration: none; */
    /*position: relative;
    display: flex;*/
    /* padding-left: 15%; */
    /*padding-right: 9%; */ 
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    font-family: "MinervaModern-Regular";
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    padding:0;
}

.logo-title {
    padding-left: 3%;
    white-space: nowrap;
    text-decoration: none;
    color: #464e59;;
}

.menu-logo {
    text-decoration: none;
    
    display:flex;
    align-items: center;
}

.menu-logo a {
    text-decoration: none;
}

/*.menu-logo a div {
    padding-top: 400px;
    margin-top: -400px;
}*/

.menu-div {
    /*text-align: left;*/
    /*overflow:hidden;*/
    /*background-color: white;*/
    /*float: left;*/
}

.menu-div a {
    float: left;
    display: block;
    color:  #464e59;
    text-decoration: none;
    padding: 10px;
}

.menu-logo img {
    width: 40px;
}

.menu-div .icon {
    display: none;
}

:target::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

.welcome-desc {
  margin-bottom: 8%;
}

/* mobile screen */
@media only screen and (max-width: 600px) {
    
    /* menu stuff */
    .menu-div a/*:not(:first-child)*/ {
        display: none;
    }
    .menu-div a.icon {
        float: right;
        display: block;
    }
    .menu-div.responsive {
        position: relative;
    }
    .menu-div.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-div.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .site-description {
        padding-top: 5%;
    }

    .main-desc {
        margin-left: 5%;
        margin-right: 7%;
    }

    video {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 100%;
    }

    .main-content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .floaty-side {
        /*padding-top: 2.5em;*/
        display: block;
    }

    .cheval-indv-title {
        font-size: 20px;
    }

    .cheval-img {
        padding:0;
        margin:0;
    }

    .dot {
        opacity: .7;
        float: left;
        width: 10px;
        height: 10px;
        background: white;
        margin: 1px;
        border-radius: 70%;
        -webkit-transition: opacity .3s;
    }

    .img-navigation {
        display: flex;
        position: absolute;
        top: 92%;
        left: 45%;
    }

    /* footer stuff */

    .footer-of-sorts {
        display: block;
        text-align: center;
        font-size: 18px;
    }

    .footer-logo {
        display: block;
    }

    .cheval-spec-desc {
        display: block;
        font-size: 14px;
        padding-right: 5%;
    }

    .site {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .cheval-info {
        white-space: unset;
    }

}

/* tablet portrait*/
@media only screen and (min-width: 600px) {

}

/* tablet landscape */
@media only screen and (min-width: 768px) {

}

/* large devices */
@media only screen and (min-width: 992px) {

}

/* extra large */
@media only screen and (min-width: 1200px) {

}
